:root {
	--color: #333;
	--alternate: #fff;
	--bg-color: #fbfbfb;
	--primary: #1976d2;
	--accent: #f50057;
	--divider: rgba(0, 0, 0, 0.1);
	--bg-popover: #fff;
	--border: rgba(0, 0, 0, 0.375);
	--label: rgba(0, 0, 0, 0.3755);
	--bg-input-filled: rgba(0, 0, 0, 0.0555);
	--bg-app-bar: #888;
	--bg-panel: #eee;
	--font-family: "Roboto", Helvetica, sans-serif;
	--heading-font-family: var(--font-family);
	--button-font-family: var(--font-family);
	--code-font-family: "Roboto Mono", Menlo, Consolas, monospace
}

* {
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	-moz-tap-highlight-color: transparent
}

html {
	color: #333;
	color: var(--color);
	background: #fafafa;
	background: var(--bg-color);
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased
}

body {
	font-family: Roboto, Helvetica, sans-serif;
	font-family: var(--font-family);
	font-size: 16px;
	font-weight: 400;
	line-height: 1.15;
	margin: 0;
	padding: 0;
	position: relative;
	overflow-x: hidden;
	overflow-y: auto
}

body * {
	max-height: 1000000em;
	-moz-text-size-adjust: none
}

hr {
	background-color: rgba(0, 0, 0, .1);
	background-color: var(--divider);
	border: none;
	height: 1px;
	margin: -1px 0 0;
	width: 100%
}

a {
	color: #1976d2;
	color: var(--primary);
	text-decoration: none
}

a:hover {
	text-decoration: underline
}

a:visited {
	color: #1976d2;
	color: var(--primary)
}

a.icon {
	display: block;
	box-sizing: border-box;
	position: relative;
	color: inherit;
	line-height: .5;
	border-radius: 50%;
	padding: 8px;
	outline: none
}

a.icon:before {
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	border-radius: inherit;
	background-color: currentColor;
	color: inherit;
	content: "";
	opacity: 0;
	pointer-events: none;
	transition: .3s cubic-bezier(.25, .8, .5, 1)
}

@media (hover:hover) {
	a.icon:hover:not([disabled]):not(.disabled):before {
		opacity: .15
	}

	a.icon.focus-visible:focus:not([disabled]):not(.disabled):before {
		opacity: .3
	}
}

.disabled,
[disabled] {
	opacity: .5;
	pointer-events: none
}

.disabled .disabled,
.disabled [disabled],
[disabled] .disabled,
[disabled] [disabled] {
	opacity: 1
}

.clearfix:after {
	clear: both;
	content: "";
	display: table;
	height: 0;
	visibility: hidden
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: Roboto, Helvetica, sans-serif;
	font-family: var(--heading-font-family);
	margin-bottom: 1rem
}

h1 {
	font-size: 3.75rem;
	line-height: 3.75rem;
	letter-spacing: -.01562em
}

h1,
h2 {
	font-weight: 300
}

h2 {
	font-size: 3rem;
	line-height: 3.125rem;
	letter-spacing: -.00833em
}

h3 {
	font-size: 2.125rem;
	font-weight: 400;
	line-height: 2.5rem;
	letter-spacing: normal
}

h4 {
	font-size: 1.5rem;
	letter-spacing: .00735em
}

h4,
h5 {
	font-weight: 400;
	line-height: 2rem
}

h5 {
	font-size: 1.25rem;
	letter-spacing: normal
}

h6 {
	font-size: 1rem;
	font-weight: 500;
	line-height: 2rem;
	letter-spacing: .0125em
}

code {
	padding: 0 0 .1em;
	margin: 0;
	background: rgba(0, 0, 0, .025);
	background: var(--bg-color);
	border-radius: 3px
}

pre code {
	background: transparent
}

code,
pre {
	font-family: monospace;
	font-family: var(--code-font-family);
	font-size: 13px
}

code:after,
code:before:not(.hljs) {
	letter-spacing: -.2em;
	content: "\00a0"
}

.grow {
	flex: 1
}

.js-focus-visible :focus:not(.focus-visible) {
	outline: none
}

.hljs {
	display: block;
	overflow-x: auto;
	padding: .5em;
	line-height: 1.3em;
	color: #fff;
	background: #253238;
	border-radius: 5px
}

.hljs-keyword,
.hljs-operator,
.hljs-pattern-match {
	color: #f27076
}

.hljs-function,
.hljs-pattern-match .hljs-constructor {
	color: #61aeee
}

.hljs-function .hljs-params {
	color: #a6e22e
}

.hljs-function .hljs-params .hljs-typing {
	color: #fd971f
}

.hljs-module-access .hljs-module {
	color: #7e57c2
}

.hljs-constructor {
	color: #e2b93d
}

.hljs-constructor .hljs-string {
	color: #c2e988
}

.hljs-comment,
.hljs-quote {
	color: #b18eb1;
	font-style: italic
}

.hljs-doctag,
.hljs-formula {
	color: #c678dd
}

.hljs-tag {
	color: #86ddff
}

.hljs-deletion,
.hljs-name,
.hljs-section,
.hljs-selector-tag,
.hljs-subst {
	color: #e06c75
}

.hljs-literal {
	color: #56b6c2
}

.hljs-addition,
.hljs-attribute,
.hljs-meta-string,
.hljs-regexp,
.hljs-string {
	color: #98c379
}

.hljs-built_in,
.hljs-class .hljs-title {
	color: #e6c07b
}

.hljs-attr,
.hljs-number,
.hljs-selector-attr,
.hljs-selector-class,
.hljs-selector-pseudo,
.hljs-template-variable,
.hljs-type,
.hljs-variable {
	color: #ffcc63
}

.hljs-bullet,
.hljs-link,
.hljs-meta,
.hljs-selector-id,
.hljs-symbol,
.hljs-title {
	color: #61aeee
}

.hljs-emphasis {
	font-style: italic
}

.hljs-strong {
	font-weight: 700
}

.hljs-link {
	text-decoration: underline
}

.layout {
	display: flex;
	flex-wrap: wrap
}

.layout .layout {
	flex: 1
}

.layout .layout-nowrap {
	flex-wrap: nowrap
}

.layout.centered {
	width: 100%;
	max-width: 1200px;
	margin: 0 auto
}

.layout.gutter {
	margin-right: -20px;
	margin-left: -20px
}

.layout.gutter>.layout-item {
	padding-right: 20px;
	padding-left: 20px
}

@media (max-width:1263px) {
	.layout.gutter {
		margin-right: -16px;
		margin-left: -16px
	}

	.layout.gutter>.layout-item {
		padding-right: 16px;
		padding-left: 16px
	}
}

@media (max-width:960px) {
	.layout.gutter {
		margin-right: -12px;
		margin-left: -12px
	}

	.layout.gutter>.layout-item {
		padding-right: 12px;
		padding-left: 12px
	}
}

@media (max-width:720px) {
	.layout.gutter {
		margin-right: -8px;
		margin-left: -8px
	}

	.layout.gutter>.layout-item {
		padding-right: 8px;
		padding-left: 8px
	}
}

@media (max-width:600px) {
	.layout.gutter {
		margin-right: -4px;
		margin-left: -4px
	}

	.layout.gutter>.layout-item {
		padding-right: 4px;
		padding-left: 4px
	}
}

.layout.alignment-top-left {
	justify-content: flex-start;
	align-items: flex-start
}

.layout.alignment-top-center {
	justify-content: center;
	align-items: flex-start
}

.layout.alignment-top-right {
	justify-content: flex-end;
	align-items: flex-start
}

.layout.alignment-top-space-around {
	justify-content: space-around;
	align-items: flex-start
}

.layout.alignment-top-space-between {
	justify-content: space-between;
	align-items: flex-start
}

.layout.alignment-center-left {
	justify-content: flex-start;
	align-items: center
}

.layout.alignment-center,
.layout.alignment-center-center {
	justify-content: center;
	align-items: center
}

.layout.alignment-center-right {
	justify-content: flex-end;
	align-items: center
}

.layout.alignment-center-space-around {
	justify-content: space-around;
	align-items: center
}

.layout.alignment-center-space-between {
	justify-content: space-between;
	align-items: center
}

.layout.alignment-bottom-left {
	justify-content: flex-start;
	align-items: flex-end
}

.layout.alignment-bottom-center {
	justify-content: center;
	align-items: flex-end
}

.layout.alignment-bottom-right {
	justify-content: flex-end;
	align-items: flex-end
}

.layout.alignment-bottom-space-around {
	justify-content: space-around;
	align-items: flex-end
}

.layout.alignment-bottom-space-between {
	justify-content: space-between;
	align-items: flex-end
}

.layout.alignment-space-around-left {
	justify-content: flex-start;
	align-items: space-around
}

.layout.alignment-space-around-center {
	justify-content: center;
	align-items: space-around
}

.layout.alignment-space-around-right {
	justify-content: flex-end;
	align-items: space-around
}

.layout.alignment-space-around-space-around {
	justify-content: space-around;
	align-items: space-around
}

.layout.alignment-space-around-space-between {
	justify-content: space-between;
	align-items: space-around
}

.layout.alignment-space-between-left {
	justify-content: flex-start;
	align-items: space-between
}

.layout.alignment-space-between-center {
	justify-content: center;
	align-items: space-between
}

.layout.alignment-space-between-right {
	justify-content: flex-end;
	align-items: space-between
}

.layout.alignment-space-between-space-around {
	justify-content: space-around;
	align-items: space-between
}

.layout.alignment-space-between-space-between {
	justify-content: space-between;
	align-items: space-between
}

.layout-item {
	flex: 1 1
}

.layout-item.layout {
	margin: 0
}

.layout-item.size {
	flex: 1 1
}

.layout-item.size-10 {
	min-width: 10%;
	max-width: 10%;
	flex: 0 1 10%
}

.layout-item.size-20 {
	min-width: 20%;
	max-width: 20%;
	flex: 0 1 20%
}

.layout-item.size-30 {
	min-width: 30%;
	max-width: 30%;
	flex: 0 1 30%
}

.layout-item.size-40 {
	min-width: 40%;
	max-width: 40%;
	flex: 0 1 40%
}

.layout-item.size-50 {
	min-width: 50%;
	max-width: 50%;
	flex: 0 1 50%
}

.layout-item.size-60 {
	min-width: 60%;
	max-width: 60%;
	flex: 0 1 60%
}

.layout-item.size-70 {
	min-width: 70%;
	max-width: 70%;
	flex: 0 1 70%
}

.layout-item.size-80 {
	min-width: 80%;
	max-width: 80%;
	flex: 0 1 80%
}

.layout-item.size-90 {
	min-width: 90%;
	max-width: 90%;
	flex: 0 1 90%
}

.layout-item.size-33 {
	min-width: 33.3333%;
	max-width: 33.3333%;
	flex: 0 1 33.3333%
}

.layout-item.size-66 {
	min-width: 66.6666%;
	max-width: 66.6666%;
	flex: 0 1 66.6666%
}

.layout-item.size-100 {
	min-width: 100%;
	max-width: 100%;
	margin-left: 0 !important;
	flex: 1 1 100%
}

.layout-item.text-left {
	text-align: left
}

.layout-item.text-right {
	text-align: right
}

@media (min-width:1264px) {
	.layout-item.xl-size {
		flex: 1 1
	}

	.layout-item.xl-size-10 {
		min-width: 10%;
		max-width: 10%;
		flex: 0 1 10%
	}

	.layout-item.xl-size-20 {
		min-width: 20%;
		max-width: 20%;
		flex: 0 1 20%
	}

	.layout-item.xl-size-30 {
		min-width: 30%;
		max-width: 30%;
		flex: 0 1 30%
	}

	.layout-item.xl-size-40 {
		min-width: 40%;
		max-width: 40%;
		flex: 0 1 40%
	}

	.layout-item.xl-size-50 {
		min-width: 50%;
		max-width: 50%;
		flex: 0 1 50%
	}

	.layout-item.xl-size-60 {
		min-width: 60%;
		max-width: 60%;
		flex: 0 1 60%
	}

	.layout-item.xl-size-70 {
		min-width: 70%;
		max-width: 70%;
		flex: 0 1 70%
	}

	.layout-item.xl-size-80 {
		min-width: 80%;
		max-width: 80%;
		flex: 0 1 80%
	}

	.layout-item.xl-size-90 {
		min-width: 90%;
		max-width: 90%;
		flex: 0 1 90%
	}

	.layout-item.xl-size-33 {
		min-width: 33.3333%;
		max-width: 33.3333%;
		flex: 0 1 33.3333%
	}

	.layout-item.xl-size-66 {
		min-width: 66.6666%;
		max-width: 66.6666%;
		flex: 0 1 66.6666%
	}

	.layout-item.xl-size-100 {
		min-width: 100%;
		max-width: 100%;
		margin-left: 0 !important;
		flex: 1 1 100%
	}

	.layout-item.xl-text-left {
		text-align: left
	}

	.layout-item.xl-text-right {
		text-align: right
	}
}

@media (max-width:1263px) {
	.layout-item.l-size {
		flex: 1 1
	}

	.layout-item.l-size-10 {
		min-width: 10%;
		max-width: 10%;
		flex: 0 1 10%
	}

	.layout-item.l-size-20 {
		min-width: 20%;
		max-width: 20%;
		flex: 0 1 20%
	}

	.layout-item.l-size-30 {
		min-width: 30%;
		max-width: 30%;
		flex: 0 1 30%
	}

	.layout-item.l-size-40 {
		min-width: 40%;
		max-width: 40%;
		flex: 0 1 40%
	}

	.layout-item.l-size-50 {
		min-width: 50%;
		max-width: 50%;
		flex: 0 1 50%
	}

	.layout-item.l-size-60 {
		min-width: 60%;
		max-width: 60%;
		flex: 0 1 60%
	}

	.layout-item.l-size-70 {
		min-width: 70%;
		max-width: 70%;
		flex: 0 1 70%
	}

	.layout-item.l-size-80 {
		min-width: 80%;
		max-width: 80%;
		flex: 0 1 80%
	}

	.layout-item.l-size-90 {
		min-width: 90%;
		max-width: 90%;
		flex: 0 1 90%
	}

	.layout-item.l-size-33 {
		min-width: 33.3333%;
		max-width: 33.3333%;
		flex: 0 1 33.3333%
	}

	.layout-item.l-size-66 {
		min-width: 66.6666%;
		max-width: 66.6666%;
		flex: 0 1 66.6666%
	}

	.layout-item.l-size-100 {
		min-width: 100%;
		max-width: 100%;
		margin-left: 0 !important;
		flex: 1 1 100%
	}

	.layout-item.l-text-left {
		text-align: left
	}

	.layout-item.l-text-right {
		text-align: right
	}
}

@media (max-width:960px) {
	.layout-item.m-size {
		flex: 1 1
	}

	.layout-item.m-size-10 {
		min-width: 10%;
		max-width: 10%;
		flex: 0 1 10%
	}

	.layout-item.m-size-20 {
		min-width: 20%;
		max-width: 20%;
		flex: 0 1 20%
	}

	.layout-item.m-size-30 {
		min-width: 30%;
		max-width: 30%;
		flex: 0 1 30%
	}

	.layout-item.m-size-40 {
		min-width: 40%;
		max-width: 40%;
		flex: 0 1 40%
	}

	.layout-item.m-size-50 {
		min-width: 50%;
		max-width: 50%;
		flex: 0 1 50%
	}

	.layout-item.m-size-60 {
		min-width: 60%;
		max-width: 60%;
		flex: 0 1 60%
	}

	.layout-item.m-size-70 {
		min-width: 70%;
		max-width: 70%;
		flex: 0 1 70%
	}

	.layout-item.m-size-80 {
		min-width: 80%;
		max-width: 80%;
		flex: 0 1 80%
	}

	.layout-item.m-size-90 {
		min-width: 90%;
		max-width: 90%;
		flex: 0 1 90%
	}

	.layout-item.m-size-33 {
		min-width: 33.3333%;
		max-width: 33.3333%;
		flex: 0 1 33.3333%
	}

	.layout-item.m-size-66 {
		min-width: 66.6666%;
		max-width: 66.6666%;
		flex: 0 1 66.6666%
	}

	.layout-item.m-size-100 {
		min-width: 100%;
		max-width: 100%;
		margin-left: 0 !important;
		flex: 1 1 100%
	}

	.layout-item.m-text-left {
		text-align: left
	}

	.layout-item.m-text-right {
		text-align: right
	}
}

@media (max-width:720px) {
	.layout-item.s-size {
		flex: 1 1
	}

	.layout-item.s-size-10 {
		min-width: 10%;
		max-width: 10%;
		flex: 0 1 10%
	}

	.layout-item.s-size-20 {
		min-width: 20%;
		max-width: 20%;
		flex: 0 1 20%
	}

	.layout-item.s-size-30 {
		min-width: 30%;
		max-width: 30%;
		flex: 0 1 30%
	}

	.layout-item.s-size-40 {
		min-width: 40%;
		max-width: 40%;
		flex: 0 1 40%
	}

	.layout-item.s-size-50 {
		min-width: 50%;
		max-width: 50%;
		flex: 0 1 50%
	}

	.layout-item.s-size-60 {
		min-width: 60%;
		max-width: 60%;
		flex: 0 1 60%
	}

	.layout-item.s-size-70 {
		min-width: 70%;
		max-width: 70%;
		flex: 0 1 70%
	}

	.layout-item.s-size-80 {
		min-width: 80%;
		max-width: 80%;
		flex: 0 1 80%
	}

	.layout-item.s-size-90 {
		min-width: 90%;
		max-width: 90%;
		flex: 0 1 90%
	}

	.layout-item.s-size-33 {
		min-width: 33.3333%;
		max-width: 33.3333%;
		flex: 0 1 33.3333%
	}

	.layout-item.s-size-66 {
		min-width: 66.6666%;
		max-width: 66.6666%;
		flex: 0 1 66.6666%
	}

	.layout-item.s-size-100 {
		min-width: 100%;
		max-width: 100%;
		margin-left: 0 !important;
		flex: 1 1 100%
	}

	.layout-item.s-text-left {
		text-align: left
	}

	.layout-item.s-text-right {
		text-align: right
	}
}

@media (max-width:600px) {
	.layout-item.xs-size {
		flex: 1 1
	}

	.layout-item.xs-size-10 {
		min-width: 10%;
		max-width: 10%;
		flex: 0 1 10%
	}

	.layout-item.xs-size-20 {
		min-width: 20%;
		max-width: 20%;
		flex: 0 1 20%
	}

	.layout-item.xs-size-30 {
		min-width: 30%;
		max-width: 30%;
		flex: 0 1 30%
	}

	.layout-item.xs-size-40 {
		min-width: 40%;
		max-width: 40%;
		flex: 0 1 40%
	}

	.layout-item.xs-size-50 {
		min-width: 50%;
		max-width: 50%;
		flex: 0 1 50%
	}

	.layout-item.xs-size-60 {
		min-width: 60%;
		max-width: 60%;
		flex: 0 1 60%
	}

	.layout-item.xs-size-70 {
		min-width: 70%;
		max-width: 70%;
		flex: 0 1 70%
	}

	.layout-item.xs-size-80 {
		min-width: 80%;
		max-width: 80%;
		flex: 0 1 80%
	}

	.layout-item.xs-size-90 {
		min-width: 90%;
		max-width: 90%;
		flex: 0 1 90%
	}

	.layout-item.xs-size-33 {
		min-width: 33.3333%;
		max-width: 33.3333%;
		flex: 0 1 33.3333%
	}

	.layout-item.xs-size-66 {
		min-width: 66.6666%;
		max-width: 66.6666%;
		flex: 0 1 66.6666%
	}

	.layout-item.xs-size-100 {
		min-width: 100%;
		max-width: 100%;
		margin-left: 0 !important;
		flex: 1 1 100%
	}

	.layout-item.xs-text-left {
		text-align: left
	}

	.layout-item.xs-text-right {
		text-align: right
	}
}

.hide {
	display: none
}

@media (min-width:1264px) {
	.xl-hide {
		display: none
	}
}

@media (max-width:1263px) {
	.l-hide {
		display: none
	}
}

@media (max-width:960px) {
	.m-hide {
		display: none
	}
}

@media (max-width:720px) {
	.s-hide {
		display: none
	}
}

@media (max-width:600px) {
	.xs-hide {
		display: none
	}
}